# Environments
.env
.env.testing

# Vendor & dependencies
/vendor/
composer.phar

# Logs and Temp
/logs/
*.log

# Sessions
/storage/sessions/
/storage/framework/sessions/
/storage/logs/

# Uploads
/public/uploads/
/storage/app/public/

# Editor/OS files
.vscode/
.idea/
*.DS_Store
Thumbs.db
cookies.txt
server.pid
